*.iml
.DS_Store
.github/github_deploy_key.enc
.idea
build
build-openssl41/
open-source-openssl41/
cmake-build-debug/
cmake-build-release/
doc/
open-source/
outputs
tags
CMakeLists.txt.user
*.vscode
*.swp
venv/

.SignalingCache_v*
.kiro/
